@import 'node_modules/bootstrap/scss/bootstrap.scss';
 @import './now-ui-kit.scss';

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

//inherit serve para herdar a informação do item pai

.btn-clear{
    background: none;
    color: inherit;
    font:inherit;
    cursor: pointer;
}